# Git & 버전관리
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# 가상환경
venv/
.venv/

# 로그/테스트
*.log
.pytest_cache/
tests/

# 민감 정보
.env
.env.*
token.json
oauth_config.json
service_account.json
env.yaml

# IDE & 에디터
.idea/
.vscode/

# macOS & 기타
.DS_Store
